<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cadastro Conta
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding >
  <form  [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-list>
      <ion-item >
        <ion-label stacked>Nome*</ion-label>
        <ion-input formControlName="nome"  type="text" placeholder=""></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido</p>
      <ion-item >
        <ion-label stacked>Email*</ion-label>
        <ion-input formControlName="email" type="email" placeholder=""></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor inválido</p>
      <ion-item>
        <ion-label stacked>
          Password
        </ion-label>
        <ion-input  formControlName="password" type="text" placeholder=""></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.errors" margin-left>Valor inválido</p>

      <ion-item >
        <ion-label stacked>
          Telefone
        </ion-label>
        <ion-input  formControlName="telefone" type="text" placeholder=""></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls.telefone.dirty && formGroup.controls.telefone.errors" margin-left>Valor inválido</p>

      <ion-item>
        <ion-label stacked>
          CPF
        </ion-label>
        <ion-input  formControlName="cpf" type="text" placeholder=""></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors" margin-left>Valor inválido</p>

      <ion-item>
        <ion-label stacked>
          RG
        </ion-label>
        <ion-input  formControlName="rg" type="text" placeholder=""></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls.rg.dirty && formGroup.controls.rg.errors" margin-left>Valor inválido</p>

    </ion-list>
    <button  ion-button color="stable" type="submit" block>
      Cadastrar
    </button>
  </form>
</ion-content>